node_modules
README
**/test-results
cypress/assets
logs
allure-report
allure-results
**/*.exe
selenium/assets
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/configs/playwright
/api/coverage